<div class="div-filter">
  <div class="header-search-filter <%= cls || '' %>">
    <div class="filter-div">
      <div class="filter-name">Filter by price</div>
      <select id="Pricing-3" name="Pricing-3" data-name="Pricing 3" class="select-field w-select">
        <option data-sort="default">Default</option>
        <option data-sort="price:asc">Low to High</option>
        <option data-sort="price:desc">High to Low</option>
      </select></div>
    <div class="filter-div">
      <div class="filter-name">Filter by name</div>
      <select id="Pricing-2" name="Pricing-2" data-name="Pricing 2" class="select-field w-select">
        <option data-sort="default">Default</option>
        <option data-sort="name:asc">Asc</option>
        <option data-sort="name:desc">Desc</option>
      </select></div>
  </div>
</div>

