<div class="div-filter">
  <div class="header-search-filter <%= cls || '' %>">
    <div class="filter-div">
      <div class="filter-name">Filter by price</div>
      <select id="sort-price" name="sort-price" class="sort-filter select-field w-select">
        <option data-sort="default">Default</option>
        <option data-sort="price:asc">Low to High</option>
        <option data-sort="price:desc">High to Low</option>
      </select>
    </div>
  </div>
</div>

