<div id="price-display-form" class="div-form-price">
  <div class="div-close"><img src="<%= asset_path :images, 'close-icon.png' %>" width="50" /></div>
  <div class="form-price w-form">

  <form id="wf-form-price-form" name="wf-form-price-form" data-name="price-form" method="post" action="" data-netlify="true" netlify-honeypot="bot-field">
    <div class="div-heading-slide">
      <h3 class="titre-big">Enter your name, email address, phone number and zip code to get an installation price</h3>
    </div>
    <div class="div-flex-h">
      <input type="text" class="zipcode w-input" maxlength="256" name="name" data-name="name" placeholder="Your name" id="name" required="true"/>
      <input type="email" class="zipcode w-input" maxlength="256" name="email-address" data-name="email-address" placeholder="Your email address" id="email-address" required="true"/>
      <input type="phone" class="zipcode w-input" maxlength="256" name="Phone-number" data-name="Phone-number" placeholder="Your phone number" id="phone-number" required=""/>
      <input type="text" class="zipcode w-input" maxlength="5" pattern="[0-9]{5}" name="Zipcode" data-name="Zipcode" placeholder="Your zip code" id="zipcode" required="true"/>
    </div>
    <div netlify-recaptcha></div>
    <input type="submit" data-wait="Please wait..." value="Get my installation price" class="large-button w-button"/>
  </form>
  </div>
</div>
