<div class="section-cta">
  <div class="div-65" data-ix="appear-from-bottom">
    <%= dato.about.red_block %><a href="tel:19548009954" class="button dark-color w-button"><%= dato.about.button %></a></div>
</div>
