<div class="section-cta">
  <div class="div-65" data-ix="appear-from-bottom">
    <h3 class="cta-heading">Why <strong>choose</strong> us?</h3>
    <p>At Nationwide HVAC we take pride in what we do, thats why our technicians are NATE Certified as well as background and drug tested.  We promise to arrive on time, get the job done right the first time and make sure that you, our customer are satisfied beyond your expectations.<br>‍<br>Contact us today for servicing and free estimates for all your air conditioning repair needs. Our team of professional installers, technicians, inspectors and office personel are ready to help with any AC project or problems you may have.<br>‍</p>
    <ul>
      <li>Free Estimates</li>
      <li> 100% Financing Options<br></li>
      <li>We will arrive on time<br></li>
      <li>We will respect your property and wear booties<br></li>
      <li>We will save you money<br></li>
      <li>We will get the job done right the FIRST time!<br></li>
      <li>We offer Seniors and Veterans Discounts<br></li>
      <li>We don&#x27;t ask for a deposit on repairs<br></li>
      <li>We clean up after ourselves<br></li>
      <li>We are trained, licensed and insured<br></li>
    </ul><a href="tel:19548009954" class="button dark-color w-button">Call us</a></div>
</div>
