<a href="#" class="w-inline-block w-lightbox">
  <% photo_url =  cloudinary_resize(product_image(unit), 500, 300, 'fit') %>
  <%= image_tag photo_url %>
  <% if product_has_image?(unit) %>
    <% photo = unit['Attachments'][0] %>
    <script type="application/json" class="w-json">{
              "items": [
                {
                  "type": "image",
                  "_id": "<%= photo['filename'] %>",
                  "fileName": "<%= photo['filename'] %>",
                  "width": 400,
                  "height": 400,
                  "url": "<%= photo_url %>"
                }
              ]
            }
    </script>
  <% end %>
</a>
