<div class="section-testimonials">
  <div data-delay="6000" data-animation="slide" data-autoplay="1" data-disable-swipe="1" data-duration="500" data-infinite="1" class="slider-temoignages w-slider">
    <div class="w-slider-mask">
      <div class="slide-temoignages w-slide">
        <div class="div-flex-h">
          <div class="div-50 bg-color-1">
            <div class="testimonial-left">
              <p><em>&quot;They didn&#x27;t ask for a downpayment or any payment until my air conditioning unit was installed and working! Great service!&quot;<br></em></p>
              <div class="testimonial-author"><strong>Maria &amp; John</strong></div>
            </div>
          </div>
          <div class="div-50 bg-color-2">
            <div class="testimonial-right">
              <p><em>&quot;Our 15 year old unit needed to be replaced. Nationwide gave us the best price and next day install&quot;<br></em></p>
              <div class="testimonial-author"><strong>Carly</strong></div>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-temoignages w-slide">
        <div class="div-flex-h">
          <div class="div-50 bg-color-1">
            <div class="testimonial-left">
              <p><em>&quot;They didn&#x27;t ask for a downpayment or any payment until my air conditioning unit was installed and working! Great service!&quot;<br></em></p>
              <div class="testimonial-author"><strong>Maria &amp; John</strong></div>
            </div>
          </div>
          <div class="div-50 bg-color-2">
            <div class="testimonial-right">
              <p><em>&quot;Our 15 year old unit needed to be replaced. Nationwide gave us the best price and next day install&quot;<br></em></p>
              <div class="testimonial-author"><strong>Carly</strong></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-hidden-small w-hidden-tiny w-slider-arrow-left" data-ix="hover-arrow-left">
      <div class="w-icon-slider-left"></div>
    </div>
    <div class="w-hidden-small w-hidden-tiny w-slider-arrow-right" data-ix="hover-arrow-right">
      <div class="w-icon-slider-right"></div>
    </div>
    <div class="w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-slider-nav w-round"></div>
  </div>
</div>
