<div class="w-slide" data-ix"slider-anim">
	<div class="form-wrapper second w-form">
		<form id="wf-form-msf" name="wf-form-msf" data-name="msf" redirect="/thank-you" data-redirect="/thank-you" class="form-full-width">
			<div class="div-heading-slide">
				<h3 class="titre-big">Add accessories?</h3>
			</div>
			<div class="div-full-height">
				<div class="div-full-width added-top-margin">
					<div class="unit-overlay">
						<a href="#" class="button w-button">Add to cart</a>
					</div>
					<div class="div-flex-h align-center">
						<div class="product-name smaller">Accessory #1</div>
					</div>
					<div class="div-product-details smaller">
						<div class="blue-text">Details</div>
						<div>
							<strong>ADP-S Series</strong>
						</div>
					</div>
					<div class="div-product-details smaller">
						<div class="blue-text">Price</div>
						<div>
							<strong>$250</strong>
						</div>
					</div>
				</div>
				<div class="div-full-width added-top-margin">
					<div class="unit-overlay">
						<a href="#" class="button w-button">Add to cart</a>
					</div>
					<div class="div-flex-h align-center">
						<div class="product-name smaller">Accessory #1 Accessory #1Accessory #1Accessory #1Accessory #1Accessory #1Accessory #1</div>
					</div>
					<div class="div-product-details smaller">
						<div class="blue-text">Details</div>
						<div>
							<strong>ADP-S Series</strong>
						</div>
					</div>
					<div class="div-product-details smaller">
						<div class="blue-text">Price</div>
						<div>
							<strong>$250</strong>
						</div>
					</div>
				</div>
			</div>
			<input type="submit" data-wait="Please wait..." value="Go to checkout" class="next final w-button">
		</form>

	</div>
</div>
