<div class="w-slide" data-ix"slider-anim">
	<div class="form-wrapper second w-form">
		<form id="wf-form-msf" name="wf-form-msf" data-name="msf" class="form-full-width">
			<div class="div-heading-slide">
				<h3 class="titre-big">Where is the air handler located?</h3>
			</div>
			<div class="div-flex-h">
				<div data-ix="appear-next" class="options different-color-font pale-border">
					<div class="radio-button-field grey-border w-radio">
						<div data-ix="appear-next" class="div-hover"></div><img src="images/door.png" alt=""><input type="radio" id="straight-cool" name="system" value="straight-cool" data-name="system" class="radio-button w-radio-input">
						<label for="straight-cool-2" class="radio-button-label-top-margin w-form-label">
							<strong>Closet</strong>
						</label>
					</div>
				</div>
				<div data-ix="appear-next" class="options different-color-font pale-border">
					<div class="radio-button-field grey-border w-radio">
						<div data-ix="appear-next" class="div-hover"></div><img src="images/garage.png" alt=""><input type="radio" id="water-sourced" name="system" value="water-sourced" data-name="system" class="radio-button w-radio-input">
						<label for="water-sourced-2" class="radio-button-label-top-margin w-form-label">
							<strong>Garage</strong>
						</label>
					</div>
				</div>
				<div data-ix="appear-next" class="options different-color-font pale-border">
					<div class="radio-button-field grey-border w-radio">
						<div data-ix="appear-next" class="div-hover"></div><img src="images/roof.png" alt=""><input type="radio" id="heat-pump" name="system" value="heat-pump" data-name="system" class="radio-button w-radio-input">
						<label for="heat-pump-2" class="radio-button-label-top-margin w-form-label">
							<strong>Attic</strong>
						</label>
					</div>
				</div>
				<div data-ix="appear-next" class="options different-color-font pale-border">
					<div class="radio-button-field grey-border w-radio">
						<div data-ix="appear-next" class="div-hover"></div><input type="radio" id="not-sure" name="system" value="not-sure" data-name="system" class="radio-button w-radio-input">
						<label for="not-sure-2" class="w-form-label">
							<strong>Other</strong>
						</label>
					</div>
				</div>
			</div>
		</form>

	</div>
</div>
