<div class="w-slide" data-ix"slider-anim">
	<div class="form-wrapper second w-form">
		<form id="wf-form-msf" name="wf-form-msf" data-name="msf" class="form-full-width">
			<div class="div-heading-slide">
				<h3 class="titre-big">Please select the air handler type</h3>
			</div>
			<div class="div-flex-h">
				<div data-ix="appear-next" class="options different-color-font pale-border">
					<div class="radio-button-field grey-border w-radio">
						<div data-ix="appear-next" class="div-hover"></div><input type="radio" id="horizontal" name="handler-type" value="horizontal" data-name="handler-type" class="radio-button w-radio-input"><label for="horizontal" class="w-form-label"><strong>Horizontal</strong></label></div>
				</div>
				<div data-ix="appear-next" class="options different-color-font pale-border">
					<div class="radio-button-field grey-border w-radio">
						<div data-ix="appear-next" class="div-hover"></div><input type="radio" id="vertical" name="handler-type" value="vertical" data-name="handler-type" class="radio-button w-radio-input"><label for="vertical" class="w-form-label"><strong>Vertical</strong></label></div>
				</div>
			</div>
		</form>

	</div>
</div>
