<div class="w-slide">
	<div class="form-wrapper second w-form">
		<form id="wf-form-msf" name="wf-form-msf" data-name="msf" class="form-full-width">
			<div class="div-heading-slide">
				<h3 class="titre-big">Select brand</h3>
			</div>
			<div class="div-flex-h justify-start">
				<div class="options brand w-checkbox"><input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" class="checkbox w-checkbox-input"><label for="checkbox" class="checkbox-label-form w-form-label">American Standard</label></div>
				<div class="options brand w-checkbox"><input type="checkbox" id="checkbox-6" name="checkbox-6" data-name="Checkbox 6" class="checkbox w-checkbox-input"><label for="checkbox-6" class="checkbox-label-form w-form-label">Ameristar</label></div>
				<div class="options brand w-checkbox"><input type="checkbox" id="checkbox-5" name="checkbox-5" data-name="Checkbox 5" class="checkbox w-checkbox-input"><label for="checkbox-5" class="checkbox-label-form w-form-label">Carrier</label></div>
				<div class="options brand w-checkbox"><input type="checkbox" id="checkbox-4" name="checkbox-4" data-name="Checkbox 4" class="checkbox w-checkbox-input"><label for="checkbox-4" class="checkbox-label-form w-form-label">Goodman</label></div>
				<div class="options brand w-checkbox"><input type="checkbox" id="checkbox-3" name="checkbox-3" data-name="Checkbox 3" class="checkbox w-checkbox-input"><label for="checkbox-3" class="checkbox-label-form w-form-label">Lennox</label></div>
				<div class="options brand w-checkbox"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="checkbox w-checkbox-input"><label for="checkbox-2" class="checkbox-label-form w-form-label">Payne</label></div>
				<div class="options brand w-checkbox"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="checkbox w-checkbox-input"><label for="checkbox-7" class="checkbox-label-form w-form-label">Rheem</label></div>
				<div class="options brand w-checkbox"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="checkbox w-checkbox-input"><label for="checkbox-7" class="checkbox-label-form w-form-label">Trane</label></div>
				<div class="options brand w-checkbox"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="checkbox w-checkbox-input"><label for="checkbox-7" class="checkbox-label-form w-form-label">York</label></div>
			</div>
		</form>

	</div>
</div>
