<div class="w-slide" data-ix="slider-anim">
            <div class="form-wrapper second w-form">
              <form id="wf-form-msf" name="wf-form-msf" data-name="msf" class="form-full-width">
                <div class="div-heading-slide">
                  <h3 class="titre-big">Condenser Unit location</h3>
                </div>
                <p class="smaller-explanation">Is the Condenser Unit Located on the ground or on the roof of the building?</p>
                <div class="div-flex-h">
                  <div data-ix="appear-next" class="options different-color-font pale-border">
                    <div class="radio-button-field grey-border w-radio">
                      <div data-ix="appear-next" class="div-hover"></div><input type="radio" id="straight-cool" name="system" value="straight-cool" data-name="system" class="radio-button w-radio-input"><label for="straight-cool" class="w-form-label"><strong>Straight Cool</strong></label>
                      <p class="smaller-explanation">Straight cool systems are great for homeowners that almost never turn their heat on. It costs less up front and is more efficient on the cooling side, but costs more to use in heat mode than a heat pump system might.</p>
                    </div>
                  </div>
                  <div data-ix="appear-next" class="options different-color-font pale-border">
                    <div class="radio-button-field grey-border w-radio">
                      <div data-ix="appear-next" class="div-hover"></div><input type="radio" id="water-sourced" name="system" value="water-sourced" data-name="system" class="radio-button w-radio-input"><label for="water-sourced" class="w-form-label"><strong>Water Sourced</strong></label>
                      <p class="smaller-explanation">Heat pump systems heat much more efficiently than straight cool systems. A heat pump system is a device that transfers heat from a colder area to a hotter area by using mechanical energy.</p>
                    </div>
                  </div>
                  <div data-ix="appear-next" class="options different-color-font pale-border">
                    <div class="radio-button-field grey-border w-radio">
                      <div data-ix="appear-next" class="div-hover"></div><input type="radio" id="heat-pump" name="system" value="heat-pump" data-name="system" class="radio-button w-radio-input"><label for="heat-pump" class="w-form-label"><strong>Heat Pump</strong></label>
                      <p class="smaller-explanation">Technically, a heat pump is a mechanical-compression cycle refrigeration system that can be reversed to either heat or cool a controlled space.</p>
                    </div>
                  </div>
                  <div data-ix="appear-next" class="options different-color-font pale-border">
                    <div class="radio-button-field grey-border w-radio">
                      <div data-ix="appear-next" class="div-hover"></div><input type="radio" id="not-sure" name="system" value="not-sure" data-name="system" class="radio-button w-radio-input"><label for="not-sure" class="w-form-label"><strong>I&#x27;m not sure</strong></label></div>
                  </div>
                </div>
              </form>

            </div>
          </div>
