<div class="w-slide" data-ix"slider-anim">
            <div class="form-beat-quote second w-form">
              <form id=“instant-quote” name=“wf-form-instant-quote” data-name=“instant-quote” method="post" action="/thank-you" data-netlify="true" netlify-honeypot="bot-field" class="w-clearfix">
                <div class="div-tow-collumn">
                  <div class="div-40 form">
                    <h3>Unsure about the system you need?</h3>
                    <p>Leave us a message and we&#x27;ll call you to make sure you get the right unit for your home.</p>
                  </div>
                  <div class="div-50-2 form">
                    <div class="div-flex-h-2 no-min-height"><input type="text" id="first-name" name="first-name" data-name="First Name" placeholder="First Name" maxlength="256" class="text-field-2 bigger-field added-right-margin w-input"><input type="text" id="second-name" name="second-name" data-name="Second Name" placeholder="Second Name" maxlength="256" required="" class="text-field-2 bigger-field w-input"></div><input type="email" id="email-2" name="email-2" data-name="Email 2" required="" maxlength="256" placeholder="Email Address" class="text-field-2 bigger-field w-input"><input type="email" id="bot-field" name="bot-field" data-name="Bot Field" placeholder="Bot-field" maxlength="256" class="text-field-2 bigger-field bot-field w-input"><input type="text" id="Telephone" name="Telephone" data-name="Telephone" placeholder="Phone Number" maxlength="256" required="" class="text-field-2 bigger-field w-input"><textarea id="message-2" name="message-2" placeholder="Message" maxlength="5000" data-name="Message 2" class="textarea-2 w-input"></textarea></div>
                </div>
                <div class="div-spacer-2"></div><input type="submit" data-wait="Please wait..." value="SEND" class="submit final w-button"></form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form</div>
              </div>
            </div>
          </div>
