<div class="w-slide">
            <div class="form-wrapper second w-form">
              <form id="wf-form-msf" name="wf-form-msf" data-name="msf" redirect="/thank-you" data-redirect="/thank-you" class="form-full-width">
                <div class="div-heading-slide">
                  <h3 class="titre-big">Here&#x27;s the Good results for you</h3>
                </div>
                <div class="flex-third">
                  <div class="good-div">
                    <div class="heading-result">
                      <div>Good</div>
                    </div>
                    <div class="units-quote">
                      <div class="div-full-width">
                        <div class="unit-overlay">
                          <h3 class="heading-no-top-margin">I want this unit installed</h3><a href="#" class="button w-button">Add to cart</a></div>
                        <div class="div-flex-h align-center">
                          <div class="product-name smaller">GSX16</div><img src="images/york-logo.png" width="80" alt="" class="image-brand"></div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Tons</div>
                          <div><strong>2.5</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">SEER</div>
                          <div><strong>16</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Condenser</div>
                          <div><strong>14ACXS018-230</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Air Handler</div>
                          <div><strong>ADP-S Series</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Price including installation</div>
                          <div><strong>$3 700</strong></div>
                        </div>
                      </div>
                    </div>
                    <div class="units-quote">
                      <div class="div-full-width">
                        <div class="unit-overlay">
                          <h3 class="heading-no-top-margin">I want this unit installed</h3><a href="#" class="button w-button">Add to cart</a></div>
                        <div class="div-flex-h align-center">
                          <div class="product-name smaller">GSX16</div><img src="images/york-logo.png" width="80" alt="" class="image-brand"></div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Tons</div>
                          <div><strong>2.5</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">SEER</div>
                          <div><strong>16</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Condenser</div>
                          <div><strong>14ACXS018-230</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Air Handler</div>
                          <div><strong>ADP-S Series</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Price including installation</div>
                          <div><strong>$3 700</strong></div>
                        </div>
                      </div>
                    </div>
                    <div class="units-quote">
                      <div class="div-full-width">
                        <div class="unit-overlay">
                          <h3 class="heading-no-top-margin">I want this unit installed</h3><a href="#" class="button w-button">Add to cart</a></div>
                        <div class="div-flex-h align-center">
                          <div class="product-name smaller">GSX16</div><img src="images/york-logo.png" width="80" alt="" class="image-brand"></div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Tons</div>
                          <div><strong>2.5</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">SEER</div>
                          <div><strong>16</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Condenser</div>
                          <div><strong>14ACXS018-230</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Air Handler</div>
                          <div><strong>ADP-S Series</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Price including installation</div>
                          <div><strong>$3 700</strong></div>
                        </div>
                      </div>
                    </div>
                    <div class="units-quote">
                      <div class="div-full-width">
                        <div class="unit-overlay">
                          <h3 class="heading-no-top-margin">I want this unit installed</h3><a href="#" class="button w-button">Add to cart</a></div>
                        <div class="div-flex-h align-center">
                          <div class="product-name smaller">GSX16</div><img src="images/york-logo.png" width="80" alt="" class="image-brand"></div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Tons</div>
                          <div><strong>2.5</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">SEER</div>
                          <div><strong>16</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Condenser</div>
                          <div><strong>14ACXS018-230</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Air Handler</div>
                          <div><strong>ADP-S Series</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Price including installation</div>
                          <div><strong>$3 700</strong></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="good-div">
                    <div class="heading-result best">
                      <div>Better</div>
                    </div>
                    <div class="units-quote">
                      <div class="div-full-width">
                        <div class="unit-overlay">
                          <h3 class="heading-no-top-margin">I want this unit installed</h3><a href="#" class="button w-button">Add to cart</a></div>
                        <div class="div-flex-h align-center">
                          <div class="product-name smaller">GSX16</div><img src="images/york-logo.png" width="80" alt="" class="image-brand"></div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Tons</div>
                          <div><strong>2.5</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">SEER</div>
                          <div><strong>16</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Condenser</div>
                          <div><strong>14ACXS018-230</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Air Handler</div>
                          <div><strong>ADP-S Series</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Price including installation</div>
                          <div><strong>$3 700</strong></div>
                        </div>
                      </div>
                    </div>
                    <div class="units-quote">
                      <div class="div-full-width">
                        <div class="unit-overlay">
                          <h3 class="heading-no-top-margin">I want this unit installed</h3><a href="#" class="button w-button">Add to cart</a></div>
                        <div class="div-flex-h align-center">
                          <div class="product-name smaller">GSX16</div><img src="images/york-logo.png" width="80" alt="" class="image-brand"></div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Tons</div>
                          <div><strong>2.5</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">SEER</div>
                          <div><strong>16</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Condenser</div>
                          <div><strong>14ACXS018-230</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Air Handler</div>
                          <div><strong>ADP-S Series</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Price including installation</div>
                          <div><strong>$3 700</strong></div>
                        </div>
                      </div>
                    </div>
                    <div class="units-quote">
                      <div class="div-full-width">
                        <div class="unit-overlay">
                          <h3 class="heading-no-top-margin">I want this unit installed</h3><a href="#" class="button w-button">Add to cart</a></div>
                        <div class="div-flex-h align-center">
                          <div class="product-name smaller">GSX16</div><img src="images/york-logo.png" width="80" alt="" class="image-brand"></div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Tons</div>
                          <div><strong>2.5</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">SEER</div>
                          <div><strong>16</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Condenser</div>
                          <div><strong>14ACXS018-230</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Air Handler</div>
                          <div><strong>ADP-S Series</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Price including installation</div>
                          <div><strong>$3 700</strong></div>
                        </div>
                      </div>
                    </div>
                    <div class="units-quote">
                      <div class="div-full-width">
                        <div class="unit-overlay">
                          <h3 class="heading-no-top-margin">I want this unit installed</h3><a href="#" class="button w-button">Add to cart</a></div>
                        <div class="div-flex-h align-center">
                          <div class="product-name smaller">GSX16</div><img src="images/york-logo.png" width="80" alt="" class="image-brand"></div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Tons</div>
                          <div><strong>2.5</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">SEER</div>
                          <div><strong>16</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Condenser</div>
                          <div><strong>14ACXS018-230</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Air Handler</div>
                          <div><strong>ADP-S Series</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Price including installation</div>
                          <div><strong>$3 700</strong></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="good-div">
                    <div class="heading-result better">
                      <div>Best</div>
                    </div>
                    <div class="units-quote">
                      <div class="div-full-width">
                        <div class="unit-overlay">
                          <h3 class="heading-no-top-margin">I want this unit installed</h3><a href="#" class="button w-button">Add to cart</a></div>
                        <div class="div-flex-h align-center">
                          <div class="product-name smaller">GSX16</div><img src="images/york-logo.png" width="80" alt="" class="image-brand"></div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Tons</div>
                          <div><strong>2.5</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">SEER</div>
                          <div><strong>16</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Condenser</div>
                          <div><strong>14ACXS018-230</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Air Handler</div>
                          <div><strong>ADP-S Series</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Price including installation</div>
                          <div><strong>$3 700</strong></div>
                        </div>
                      </div>
                    </div>
                    <div class="units-quote">
                      <div class="div-full-width">
                        <div class="unit-overlay">
                          <h3 class="heading-no-top-margin">I want this unit installed</h3><a href="#" class="button w-button">Add to cart</a></div>
                        <div class="div-flex-h align-center">
                          <div class="product-name smaller">GSX16</div><img src="images/york-logo.png" width="80" alt="" class="image-brand"></div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Tons</div>
                          <div><strong>2.5</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">SEER</div>
                          <div><strong>16</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Condenser</div>
                          <div><strong>14ACXS018-230</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Air Handler</div>
                          <div><strong>ADP-S Series</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Price including installation</div>
                          <div><strong>$3 700</strong></div>
                        </div>
                      </div>
                    </div>
                    <div class="units-quote">
                      <div class="div-full-width">
                        <div class="unit-overlay">
                          <h3 class="heading-no-top-margin">I want this unit installed</h3><a href="#" class="button w-button">Add to cart</a></div>
                        <div class="div-flex-h align-center">
                          <div class="product-name smaller">GSX16</div><img src="images/york-logo.png" width="80" alt="" class="image-brand"></div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Tons</div>
                          <div><strong>2.5</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">SEER</div>
                          <div><strong>16</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Condenser</div>
                          <div><strong>14ACXS018-230</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Air Handler</div>
                          <div><strong>ADP-S Series</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Price including installation</div>
                          <div><strong>$3 700</strong></div>
                        </div>
                      </div>
                    </div>
                    <div class="units-quote">
                      <div class="div-full-width">
                        <div class="unit-overlay">
                          <h3 class="heading-no-top-margin">I want this unit installed</h3><a href="#" class="button w-button">Add to cart</a></div>
                        <div class="div-flex-h align-center">
                          <div class="product-name smaller">GSX16</div><img src="images/york-logo.png" width="80" alt="" class="image-brand"></div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Tons</div>
                          <div><strong>2.5</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">SEER</div>
                          <div><strong>16</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Condenser</div>
                          <div><strong>14ACXS018-230</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Air Handler</div>
                          <div><strong>ADP-S Series</strong></div>
                        </div>
                        <div class="div-product-details smaller">
                          <div class="blue-text">Price including installation</div>
                          <div><strong>$3 700</strong></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form</div>
              </div>
            </div>
          </div>
