<div class="w-slide">
	<div class="form-wrapper second w-form">
		<form id="wf-form-msf" name="wf-form-msf" data-name="msf" class="form-full-width">
			<div class="div-heading-slide">
				<h3 class="titre-big">How do you access the roof?</h3>
			</div>
			<div class="div-flex-h">
				<div data-ix="appear-next" class="options different-color-font pale-border">
					<div class="radio-button-field grey-border w-radio">
						<div data-ix="appear-next" class="div-hover"></div><input type="radio" id="stair" name="roof-access" value="stair" data-name="roof-access" class="radio-button w-radio-input"><img src="images/stairs.png" alt=""><label for="stair" class="radio-button-label-top-margin w-form-label"><strong>Stair access</strong></label></div>
				</div>
				<div data-ix="appear-next" class="options different-color-font pale-border">
					<div class="radio-button-field grey-border w-radio">
						<div data-ix="appear-next" class="div-hover"></div><input type="radio" id="crane" name="roof-access" value="crane" data-name="roof-access" class="radio-button w-radio-input"><img src="images/crane-icon.png" alt=""><label for="crane" class="radio-button-label-top-margin w-form-label"><strong>Crane required</strong></label></div>
				</div>
			</div>
		</form>

	</div>
</div>
