<div class="w-slide">
  <div class="form-wrapper w-form">
    <form id="wf-form-Instant-Quote" name="wf-form-Instant-Quote" data-name="Instant Quote">
      <div class="div-heading-slide absolute w-hidden-medium w-hidden-small w-hidden-tiny">
        <h3 class="titre-big bigger">Split or packaged system?</h3>
      </div>
      <div class="div-flex-h full-height">
        <div class="div-forfaits">
          <div><img src="images/split-system.png" alt="">
            <div class="div-heading-slide">
              <h3 class="titre-big">Split System</h3>
            </div>
            <p>A split system air conditioner consists of two main parts: the
              outdoor unit (Condenser) and the indoor unit (Air Handler)</p>
          </div>
          <div class="radio-button-field w-radio">
            <div data-ix="appear-next" class="div-hover"></div>
            <input type="radio" id="split-system" name="type" value="split-system" data-name="type" class="radio-button w-radio-input"><label for="split-system" class="w-form-label"><strong>I
            currently have a Split System</strong></label></div>
        </div>
        <div class="div-forfaits no-margin-right">
          <div><img src="images/packaged-system.png" alt="">
            <div class="div-heading-slide">
              <h3 class="titre-big">Packaged System</h3>
            </div>
            <p>A Packaged Air Conditioner is a type of self-contained air
              conditioning system with just one unit outside and no air handler
              inside</p>
          </div>
          <div class="radio-button-field w-radio">
            <div data-ix="appear-next" class="div-hover"></div>
            <input type="radio" id="packaged-system" name="type" value="packaged-system" data-name="type" class="radio-button w-radio-input"><label for="packaged-system" class="w-form-label"><strong>I
            currently have a Packaged System</strong></label></div>
        </div>
      </div>
    </form>
  </div>
</div>