<div class="w-slide" data-ix="slider-anim">
  <div class="form-wrapper second w-form">
    <form id="wf-form-msf" name="wf-form-msf" data-name="msf" class="form-full-width">
      <div class="div-heading-slide">
        <h3 class="titre-big">Enter you Zip Code to get an accurate installations pricing</h3>
      </div>
      <div class="div-flex-h"><input type="text" class="zipcode w-input" maxlength="256" name="Zipcode" data-name="Zipcode" placeholder="You zip code" id="Zipcode" required=""></div>
    </form>
  </div>
</div>
