<% content_for(:meta) do %>
  <%= title "AC Repairs" %>
  <%= description "Professional AC Repair Services throughout the South Florida areas" %>
<% end %>
<div class="section-hero-interior">
    <h1 class="cta-heading" data-ix="hero-appear-1">A/C <strong>Repairs</strong> &amp; <strong>Maintenance</strong></h1>
  </div>
  <div class="section-about">
    <div class="w-container">
      <div class="w-richtext">
        <p>Nationwide HVAC provides professional AC Repair Services throughout the South Florida areas, including Palm Beach, Broward, and Miami-Dade Counties.</p>
        <p>‍</p>
        <p>A/C Unit is not working or needs a tune-up, our expert technicians are experienced in all areas of HVAC Servicing &amp; Repair. We take pride in providing quality HVAC Services for both residential home owners and commercial properties.</p>
        <p>‍</p>
        <p>Contact us today for servicing and free estimates for all your air conditioning repair needs. Our team of professional installers, technicians, inspectors and office personel are ready to help with any AC project or problems you may have.</p>
        <p>‍</p>
        <ul>
          <li>Diagnostics</li>
          <li>Part Replacements</li>
          <li>Electrical Repairs</li>
          <li>Mechanical Repairs</li>
          <li>Freon Charging</li>
          <li>Installations</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="section-cta">
    <div class="div-65" data-ix="appear-from-bottom">
      <h3 class="cta-heading">Do I <strong>Need</strong> My <strong>Air Conditioner Repaired</strong>?</h3>
      <p>There are many factors that indicate you may need repair on your air conditioner<br><br><strong>Some common symptoms are:</strong><br></p>
      <ol>
        <li>Unit Runs but Doesn’t Cool or Heat<br></li>
        <li>Unit Repeatedly Turns On and Off<br></li>
        <li>Unit Has No Power or Won’t Turn On<br></li>
        <li>Unit is Making Noise<br></li>
        <li>Unit is Not Blowing Strongly<br>‍<br></li>
      </ol>
      <p>Call Nationwide HVAC to find out if you need a HVAC Service Technician at your Home or Commercial Property. We can help resolve your HVAC problems!<br><br>Ready to schedule services, or need a estimate for one of your projects? Follow the link below or call 954-673-3837 and a qualified representative will be able to assist you.<br></p><a href="tel:1954673837" class="button dark-color w-button">Call us</a></div>
  </div>
  <div class="section-maintenance-agreements">
    <div class="div-50">
      <h1 class="cta-heading">Preventative <strong>Maintenance</strong> Agreements</h1>
      <p>With Nationwide&#x27;s Preventative Maintenance plan you can be assured that your air conditioning system is always running at full efficiency and you can prevent costly and inconvenient breakdowns which, as life would have it, usually happen when you least expect them. <br><br>We offer two levels of service plans, please read below or chat with us live if you need help. Don&#x27;t get caught in the heat! Stay Cool!<br><br><span class="smaller-text"><strong>Trane, Carrier, Lennox, York, American Standard, and Goodman (and most  manufacturers) require that equipment be maintained by a professional HVAC  contractor (warranty section of the installation, service, and maintenance manual) to  keep the warranty active - we&#x27;re looking forward to keeping you cool!</strong></span><strong><br></strong></p>
    </div>
    <div class="div-45">
      <div class="div-quote-block full" data-ix="appear-from-bottom">
        <div>
          <h2>Comfort level</h2>
          <p>The COMFORT level preventative maintenance plan provides your home two annual visits which include;</p>
          <ul class="list">
            <li><strong>Nationwide&#x27;s 24-point AC Preventative Maintenance Tune-Up<br>‍</strong></li>
            <li><strong>All COMFORT level service parts, labor, and materials are extended at a discounted rate of 15% off from our standard pricing for (2) semi-annual professional/certified technician preventative maintenance visits.​<br>‍</strong></li>
            <li><strong>All service warranties made under this agreement will be extended to two years.​<br>‍</strong></li>
            <li><strong>Priority Service<br>‍</strong></li>
          </ul>
        </div><a href="#" class="button-underline bigger w-button">$169.00/yr</a></div>
      <div class="div-quote-block full" data-ix="appear-from-bottom">
        <div>
          <h2>Platinum level</h2>
          <p>The PLATINUM level preventative maintenance plan provides your home two annual visits which include;</p>
          <ul class="list">
            <li><strong>Everything included COMFORT Level<br>‍</strong></li>
            <li><strong>FREE (no technician service call fee) technician dispatch service in cases of standard hour dispatches<br>‍</strong></li>
          </ul>
        </div><a href="#" class="button-underline bigger w-button">$279.00/yr</a></div>
    </div>
  </div>
