<div class="section-hero-interior">
  <h1 class="cta-heading" data-ix="hero-appear-1"><strong>Financing</strong></h1>
</div>
<div class="section-about">
  <div class="msp-holder no-height">
    <div data-animation="slide" data-easing="ease-out-quart" data-hide-arrows="1" data-disable-swipe="1" data-duration="750" data-infinite="1" class="multi-step-form w-clearfix w-slider">
      <div class="mask-form w-slider-mask">
        <div class="step w-slide">
          <div class="form-wrapper second w-form no-bot-margin">
            <form id="wf-form-msf" name="wf-form-msf" data-name="msf" redirect="/thank-you" data-redirect="/thank-you">
              <div class="div-tow-collumn">
                <div class="div-40 form">
                  <h3>Financing Application</h3>
                  <p>By checking the &quot;Agreement to T&amp;C&#x27;s&quot; at the end of this form you agree that everything stated in this application is correct and you are providing &#x27;written instructions&#x27; to Nationwide HVAC and its authorized third-party financing partners to pull a potential soft or hard credit-check for the purposes of determining your eligibility for various financing programs under the Fair Credit Reporting Act (“FCRA”). <br><br>Approvals or eligibility cannot be guaranteed for any programs until  determined by our authorized third-party financing partners. All personal data is stored in compliance with Federal, State, local and PCI Data Storage Guidelines for Merchants; 2018 Nationwide HVAC Corp.</p>
                </div>
                <div class="div-50-2 form">
                  <div class="div-flex-h-2 no-min-height"><input type="text" id="first-name" name="first-name" data-name="first-name" placeholder="First Name" maxlength="256" class="text-field-2 bigger-field added-right-margin w-input"><input type="text" id="second-name" name="second-name" data-name="second-name" placeholder="Second Name" maxlength="256" required="" class="text-field-2 bigger-field w-input"></div><input type="email" id="email-3" name="email" data-name="email" required="" maxlength="256" placeholder="Email Address" class="text-field-2 bigger-field w-input"><input type="text" id="phone" name="phone" data-name="phone" placeholder="Phone Number" maxlength="256" required="" class="text-field-2 bigger-field w-input"><input type="text" id="address" name="address" data-name="address" placeholder="Street Address" maxlength="256" required="" class="text-field-2 bigger-field w-input"><input type="text" id="City" name="City" data-name="City" placeholder="City" maxlength="256" required="" class="text-field-2 bigger-field w-input"><input type="text" id="zip-code" name="zip-code" data-name="zip-code" placeholder="Zip Code" maxlength="256" required="" class="text-field-2 bigger-field w-input"><input type="text" id="email-5" name="email" data-name="email" required="" maxlength="256" placeholder="Email" class="text-field-2 bigger-field w-input"><select id="housing-status" name="housing-status" data-name="housing-status" class="select-field w-select"><option value="">Housing Status...</option><option value="First">First Choice</option><option value="Second">Second Choice</option><option value="Third">Third Choice</option></select></div>
              </div>
              <div class="div-spacer-2"></div><input type="submit" data-wait="Please wait..." value="SEND" class="next final w-button"></form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form</div>
            </div>
          </div>
        </div>
      </div>
      <div class="previous w-slider-arrow-left"><img src="https://daks2k3a4ib2z.cloudfront.net/585d5e2a7b64077507abdf08/58ab945ae3eb210a7dbbd7cc_arrow-left.gif" alt="">
        <div class="previous-button">Back</div>
      </div>
      <div class="next w-hidden-tiny w-slider-arrow-right">
        <div class="next-button">Next step</div>
      </div>
    </div>
  </div>
</div>

<%= partial "/partials/section-cta" %>
