<%=
  content_for(:head) do
    display_meta_tags title: "Instant Quote", description: "Get instant pricing for the unit you need."
  end
%>

<div class="section-hero-interior">
  <h1 class="cta-heading" data-ix="hero-appear-1"><strong>Instant </strong>Quote
  </h1>
</div>
<div id="quote_builder" class="section-quote-builder">
</div>

<%= partial "/partials/section-cta" %>

<% content_for(:footer_scripts) do %>
  <%= javascript_include_tag "mixitup-helpers" %>
  <%= javascript_include_tag 'instant_quote' %>
<% end %>


