<div class="section-hero-interior">
  <h1 class="cta-heading" data-ix="hero-appear-1"><strong>Instant </strong>Quote</h1>
</div>
<div id="quote_builder" class="section-quote-builder">
</div>

<%= partial "/partials/section-cta" %>

<%= javascript_include_tag 'instant_quote' %>

