<div class="section-hero-interior">
	<h1 class="cta-heading" data-ix="hero-appear-1"><strong>Instant </strong>Quote</h1>
</div>
<div class="section-quote-builder">
	<div class="msp-holder">
		<div data-animation="slide" data-easing="ease-out-quart" data-hide-arrows="1" data-disable-swipe="1" data-duration="750" data-infinite="1" class="multi-step-form w-slider">
			<div class="w-slider-mask">

				<div class="w-slide">
					<div class="form-wrapper w-form">
						<form id="wf-form-Instant-Quote" name="wf-form-Instant-Quote" data-name="Instant Quote">
							<div class="div-heading-slide absolute w-hidden-medium w-hidden-small w-hidden-tiny">
								<h3 class="titre-big bigger">Split or packaged system?</h3>
							</div>
							<div class="div-flex-h full-height">
								<div class="div-forfaits">
									<div><img src="images/split-system.png" alt="">
										<div class="div-heading-slide">
											<h3 class="titre-big">Split System</h3>
										</div>
										<p>A split system air conditioner consists of two main parts: the outdoor unit (Condenser) and the indoor unit (Air Handler)</p>
									</div>
									<div class="radio-button-field w-radio">
										<div data-ix="appear-next" class="div-hover"></div><input type="radio" id="split-system" name="type" value="split-system" data-name="type" class="radio-button w-radio-input"><label for="split-system" class="w-form-label"><strong>I currently have a Split System</strong></label></div>
								</div>
								<div class="div-forfaits no-margin-right">
									<div><img src="images/packaged-system.png" alt="">
										<div class="div-heading-slide">
											<h3 class="titre-big">Packaged System</h3>
										</div>
										<p>A Packaged Air Conditioner is a type of self-contained air conditioning system with just one unit outside and no air handler inside</p>
									</div>
									<div class="radio-button-field w-radio">
										<div data-ix="appear-next" class="div-hover"></div><input type="radio" id="packaged-system" name="type" value="packaged-system" data-name="type" class="radio-button w-radio-input"><label for="packaged-system" class="w-form-label"><strong>I currently have a Packaged System</strong></label></div>
								</div>
							</div>
						</form>

					</div>
				</div>

				<div class="w-slide">
					<div class="form-wrapper second w-form">
						<form id="wf-form-msf" name="wf-form-msf" data-name="msf" class="form-full-width">
							<div class="div-heading-slide">
								<h3 class="titre-big">Condenser Unit location</h3>
							</div>
							<p class="smaller-explanation">Is the Condenser Unit Located on the ground or on the roof of the building?</p>
							<div class="div-flex-h">
								<div data-ix="appear-next" class="options different-color-font pale-border">
									<div class="radio-button-field grey-border w-radio">
										<div data-ix="appear-next" class="div-hover"></div><input type="radio" id="straight-cool" name="system" value="straight-cool" data-name="system" class="radio-button w-radio-input"><label for="straight-cool" class="w-form-label"><strong>Straight Cool</strong></label>
										<p class="smaller-explanation">Straight cool systems are great for homeowners that almost never turn their heat on. It costs less up front and is more efficient on the cooling side, but costs more to use in heat mode than a heat pump system might.</p>
									</div>
								</div>
								<div data-ix="appear-next" class="options different-color-font pale-border">
									<div class="radio-button-field grey-border w-radio">
										<div data-ix="appear-next" class="div-hover"></div><input type="radio" id="water-sourced" name="system" value="water-sourced" data-name="system" class="radio-button w-radio-input"><label for="water-sourced" class="w-form-label"><strong>Water Sourced</strong></label>
										<p class="smaller-explanation">Heat pump systems heat much more efficiently than straight cool systems. A heat pump system is a device that transfers heat from a colder area to a hotter area by using mechanical energy.</p>
									</div>
								</div>
								<div data-ix="appear-next" class="options different-color-font pale-border">
									<div class="radio-button-field grey-border w-radio">
										<div data-ix="appear-next" class="div-hover"></div><input type="radio" id="heat-pump" name="system" value="heat-pump" data-name="system" class="radio-button w-radio-input"><label for="heat-pump" class="w-form-label"><strong>Heat Pump</strong></label>
										<p class="smaller-explanation">Technically, a heat pump is a mechanical-compression cycle refrigeration system that can be reversed to either heat or cool a controlled space.</p>
									</div>
								</div>
								<div data-ix="appear-next" class="options different-color-font pale-border">
									<div class="radio-button-field grey-border w-radio">
										<div data-ix="appear-next" class="div-hover"></div><input type="radio" id="not-sure" name="system" value="not-sure" data-name="system" class="radio-button w-radio-input"><label for="not-sure" class="w-form-label"><strong>I&#x27;m not sure</strong></label></div>
								</div>
							</div>
						</form>

					</div>
				</div>

				<div class="w-slide">
					<div class="form-wrapper second w-form">
						<form id="wf-form-msf" name="wf-form-msf" data-name="msf" class="form-full-width">
							<div class="div-heading-slide">
								<h3 class="titre-big">Please select system tonnage</h3>
							</div>
							<div class="div-flex-h justify-start">
								<div data-ix="appear-next" class="options different-color-font pale-border smaller">
									<div class="radio-button-field grey-border w-radio">
										<div data-ix="appear-next" class="div-hover"></div><input type="radio" id="1-5" name="tonnage" value="straight-cool" data-name="tonnage" class="radio-button w-radio-input"><label for="straight-cool-2" class="w-form-label"><strong>1.5 ton</strong></label></div>
								</div>
								<div data-ix="appear-next" class="options different-color-font pale-border smaller">
									<div class="radio-button-field grey-border w-radio">
										<div data-ix="appear-next" class="div-hover"></div><input type="radio" id="2" name="tonnage" value="water-sourced" data-name="tonnage" class="radio-button w-radio-input"><label for="water-sourced-2" class="w-form-label"><strong>2 ton</strong></label></div>
								</div>
								<div data-ix="appear-next" class="options different-color-font pale-border smaller">
									<div class="radio-button-field grey-border w-radio">
										<div data-ix="appear-next" class="div-hover"></div><input type="radio" id="2-5" name="tonnage" value="water-sourced" data-name="tonnage" class="radio-button w-radio-input"><label for="water-sourced-2" class="w-form-label"><strong>2.5 ton</strong></label></div>
								</div>
								<div data-ix="appear-next" class="options different-color-font pale-border smaller">
									<div class="radio-button-field grey-border w-radio">
										<div data-ix="appear-next" class="div-hover"></div><input type="radio" id="3" name="tonnage" value="water-sourced" data-name="tonnage" class="radio-button w-radio-input"><label for="water-sourced-2" class="w-form-label"><strong>3 ton</strong></label></div>
								</div>
								<div data-ix="appear-next" class="options different-color-font pale-border smaller">
									<div class="radio-button-field grey-border w-radio">
										<div data-ix="appear-next" class="div-hover"></div><input type="radio" id="3-5" name="tonnage" value="water-sourced" data-name="tonnage" class="radio-button w-radio-input"><label for="water-sourced-2" class="w-form-label"><strong>3.5 ton</strong></label></div>
								</div>
								<div data-ix="appear-next" class="options different-color-font pale-border smaller">
									<div class="radio-button-field grey-border w-radio">
										<div data-ix="appear-next" class="div-hover"></div><input type="radio" id="4" name="tonnage" value="water-sourced" data-name="tonnage" class="radio-button w-radio-input"><label for="water-sourced-2" class="w-form-label"><strong>4 ton</strong></label></div>
								</div>
								<div data-ix="appear-next" class="options different-color-font pale-border smaller">
									<div class="radio-button-field grey-border w-radio">
										<div data-ix="appear-next" class="div-hover"></div><input type="radio" id="5" name="tonnage" value="water-sourced" data-name="tonnage" class="radio-button w-radio-input"><label for="water-sourced-2" class="w-form-label"><strong>5 ton</strong></label></div>
								</div>
								<div data-ix="appear-next" class="options different-color-font pale-border smaller">
									<div class="radio-button-field grey-border w-radio">
										<div data-ix="appear-next" class="div-hover"></div><input type="radio" id="not-sure" name="tonnage" value="water-sourced" data-name="tonnage" class="radio-button w-radio-input"><label for="water-sourced-2" class="w-form-label"><strong>I&#x27;m not sure</strong></label></div>
								</div>
							</div>
						</form>

					</div>
				</div>

				<div class="w-slide">
					<div class="form-wrapper second w-form">
						<form id="wf-form-msf" name="wf-form-msf" data-name="msf" class="form-full-width">
							<div class="div-heading-slide">
								<h3 class="titre-big">See the diagram</h3>
							</div>
							<p class="smaller-explanation">Please see the diagram to locate the model number. If one of the following series of numbers appears in the model number please input those numbers.</p>
							<div class="div-flex-h justify-start added-top-margin">
								<div class="div-diagram"><img src="images/number-locate.png" id="w-node-ec8688239c87-33000f20" alt=""></div>
								<div class="div-flex-h tonnage-form">
									<div data-ix="appear-next" class="options different-color-font pale-border smallest">
										<div class="radio-button-field grey-border w-radio">
											<div data-ix="appear-next" class="div-hover"></div><input type="radio" name="model-number" value="024" data-name="model-number" class="radio-button w-radio-input"><label class="w-form-label"><strong>024</strong></label></div>
									</div>
									<div data-ix="appear-next" class="options different-color-font pale-border smallest">
										<div class="radio-button-field grey-border w-radio">
											<div data-ix="appear-next" class="div-hover"></div><input type="radio" name="model-number" value="030" data-name="model-number" class="radio-button w-radio-input"><label class="w-form-label"><strong>030</strong></label></div>
									</div>
									<div data-ix="appear-next" class="options different-color-font pale-border smallest">
										<div class="radio-button-field grey-border w-radio">
											<div data-ix="appear-next" class="div-hover"></div><input type="radio" name="model-number" value="036" data-name="model-number" class="radio-button w-radio-input"><label class="w-form-label"><strong>036</strong></label></div>
									</div>
									<div data-ix="appear-next" class="options different-color-font pale-border smallest">
										<div class="radio-button-field grey-border w-radio">
											<div data-ix="appear-next" class="div-hover"></div><input type="radio" name="model-number" value="042" data-name="model-number" class="radio-button w-radio-input"><label class="w-form-label"><strong>042</strong></label></div>
									</div>
									<div data-ix="appear-next" class="options different-color-font pale-border smallest">
										<div class="radio-button-field grey-border w-radio">
											<div data-ix="appear-next" class="div-hover"></div><input type="radio" name="model-number" value="048" data-name="model-number" class="radio-button w-radio-input"><label class="w-form-label"><strong>048</strong></label></div>
									</div>
									<div data-ix="appear-next" class="options different-color-font pale-border smallest">
										<div class="radio-button-field grey-border w-radio">
											<div data-ix="appear-next" class="div-hover"></div><input type="radio" name="model-number" value="060" data-name="model-number" class="radio-button w-radio-input"><label class="w-form-label"><strong>060</strong></label></div>
									</div>
									<div data-ix="appear-next" class="options different-color-font pale-border smallest">
										<div class="radio-button-field grey-border less-padding w-radio">
											<div data-ix="appear-next" class="div-hover"></div><input type="radio" id="not-sure-2" name="model-number" value="not-sure" data-name="model-number" class="radio-button w-radio-input"><label for="not-sure-2" class="w-form-label"><strong>Not sure</strong></label></div>
									</div>
								</div>
							</div>
						</form>

					</div>
				</div>

				<div class="w-slide">
					<div class="form-wrapper second w-form">
						<form id="wf-form-msf" name="wf-form-msf" data-name="msf" class="form-full-width">
							<div class="div-heading-slide">
								<h3 class="titre-big">Where is the air handler located?</h3>
							</div>
							<div class="div-flex-h">
								<div data-ix="appear-next" class="options different-color-font pale-border">
									<div class="radio-button-field grey-border w-radio">
										<div data-ix="appear-next" class="div-hover"></div><img src="images/door.png" alt=""><input type="radio" id="straight-cool" name="system" value="straight-cool" data-name="system" class="radio-button w-radio-input"><label for="straight-cool-2" class="radio-button-label-top-margin w-form-label"><strong>Closet</strong></label></div>
								</div>
								<div data-ix="appear-next" class="options different-color-font pale-border">
									<div class="radio-button-field grey-border w-radio">
										<div data-ix="appear-next" class="div-hover"></div><img src="images/garage.png" alt=""><input type="radio" id="water-sourced" name="system" value="water-sourced" data-name="system" class="radio-button w-radio-input"><label for="water-sourced-2" class="radio-button-label-top-margin w-form-label"><strong>Garage</strong></label></div>
								</div>
								<div data-ix="appear-next" class="options different-color-font pale-border">
									<div class="radio-button-field grey-border w-radio">
										<div data-ix="appear-next" class="div-hover"></div><img src="images/roof.png" alt=""><input type="radio" id="heat-pump" name="system" value="heat-pump" data-name="system" class="radio-button w-radio-input"><label for="heat-pump-2" class="radio-button-label-top-margin w-form-label"><strong>Attic</strong></label></div>
								</div>
								<div data-ix="appear-next" class="options different-color-font pale-border">
									<div class="radio-button-field grey-border w-radio">
										<div data-ix="appear-next" class="div-hover"></div><input type="radio" id="not-sure" name="system" value="not-sure" data-name="system" class="radio-button w-radio-input"><label for="not-sure-2" class="w-form-label"><strong>Other</strong></label></div>
								</div>
							</div>
						</form>

					</div>
				</div>

				<div class="w-slide">
					<div class="form-wrapper second w-form">
						<form id="wf-form-msf" name="wf-form-msf" data-name="msf" class="form-full-width">
							<div class="div-heading-slide">
								<h3 class="titre-big">Please select the air handler type</h3>
							</div>
							<div class="div-flex-h">
								<div data-ix="appear-next" class="options different-color-font pale-border">
									<div class="radio-button-field grey-border w-radio">
										<div data-ix="appear-next" class="div-hover"></div><input type="radio" id="horizontal" name="handler-type" value="horizontal" data-name="handler-type" class="radio-button w-radio-input"><label for="horizontal" class="w-form-label"><strong>Horizontal</strong></label></div>
								</div>
								<div data-ix="appear-next" class="options different-color-font pale-border">
									<div class="radio-button-field grey-border w-radio">
										<div data-ix="appear-next" class="div-hover"></div><input type="radio" id="vertical" name="handler-type" value="vertical" data-name="handler-type" class="radio-button w-radio-input"><label for="vertical" class="w-form-label"><strong>Vertical</strong></label></div>
								</div>
							</div>
						</form>

					</div>
				</div>

				<div class="w-slide">
					<div class="form-wrapper second w-form">
						<form id="wf-form-msf" name="wf-form-msf" data-name="msf" class="form-full-width">
							<div class="div-heading-slide">
								<h3 class="titre-big">How do you access the roof?</h3>
							</div>
							<div class="div-flex-h">
								<div data-ix="appear-next" class="options different-color-font pale-border">
									<div class="radio-button-field grey-border w-radio">
										<div data-ix="appear-next" class="div-hover"></div><input type="radio" id="stair" name="roof-access" value="stair" data-name="roof-access" class="radio-button w-radio-input"><img src="images/stairs.png" alt=""><label for="stair" class="radio-button-label-top-margin w-form-label"><strong>Stair access</strong></label></div>
								</div>
								<div data-ix="appear-next" class="options different-color-font pale-border">
									<div class="radio-button-field grey-border w-radio">
										<div data-ix="appear-next" class="div-hover"></div><input type="radio" id="crane" name="roof-access" value="crane" data-name="roof-access" class="radio-button w-radio-input"><img src="images/crane-icon.png" alt=""><label for="crane" class="radio-button-label-top-margin w-form-label"><strong>Crane required</strong></label></div>
								</div>
							</div>
						</form>

					</div>
				</div>

				<div class="w-slide">
					<div class="form-wrapper second w-form">
						<form id="wf-form-msf" name="wf-form-msf" data-name="msf" class="form-full-width">
							<div class="div-heading-slide">
								<h3 class="titre-big">Is the Condenser Unit located on the ground or on the roof of the building?</h3>
							</div>
							<div class="div-flex-h">
								<div data-ix="appear-next" class="options different-color-font pale-border">
									<div class="radio-button-field grey-border w-radio">
										<div data-ix="appear-next" class="div-hover"></div><img src="images/ground-2.png" alt=""><input type="radio" id="water-sourced" name="system" value="water-sourced" data-name="system" class="radio-button w-radio-input"><label for="water-sourced-2" class="radio-button-label-top-margin w-form-label"><strong>Ground</strong></label></div>
								</div>
								<div data-ix="appear-next" class="options different-color-font pale-border">
									<div class="radio-button-field grey-border w-radio">
										<div data-ix="appear-next" class="div-hover"></div><img src="images/roof-2.png" width="130" alt=""><input type="radio" id="heat-pump" name="system" value="heat-pump" data-name="system" class="radio-button w-radio-input"><label for="heat-pump-2" class="radio-button-label-top-margin w-form-label"><strong>Roof</strong></label></div>
								</div>
								<div data-ix="appear-next" class="options different-color-font pale-border">
									<div class="radio-button-field grey-border w-radio">
										<div data-ix="appear-next" class="div-hover"></div><input type="radio" id="other" name="system" value="other" data-name="system" class="radio-button w-radio-input"><label for="other" class="w-form-label"><strong>Other</strong></label></div>
								</div>
								<div data-ix="appear-next" class="options different-color-font pale-border">
									<div class="radio-button-field grey-border w-radio">
										<div data-ix="appear-next" class="div-hover"></div><input type="radio" id="not-sure" name="system" value="not-sure" data-name="system" class="radio-button w-radio-input"><label for="not-sure-2" class="w-form-label"><strong>I&#x27;m not sure</strong></label></div>
								</div>
							</div>
						</form>

					</div>
				</div>

				<div class="w-slide">
					<div class="form-wrapper second w-form">
						<form id="wf-form-msf" name="wf-form-msf" data-name="msf" class="form-full-width">
							<div class="div-heading-slide">
								<h3 class="titre-big">Select brand</h3>
							</div>
							<div class="div-flex-h justify-start">
								<div class="options brand w-checkbox"><input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" class="checkbox w-checkbox-input"><label for="checkbox" class="checkbox-label-form w-form-label">American Standard</label></div>
								<div class="options brand w-checkbox"><input type="checkbox" id="checkbox-6" name="checkbox-6" data-name="Checkbox 6" class="checkbox w-checkbox-input"><label for="checkbox-6" class="checkbox-label-form w-form-label">Ameristar</label></div>
								<div class="options brand w-checkbox"><input type="checkbox" id="checkbox-5" name="checkbox-5" data-name="Checkbox 5" class="checkbox w-checkbox-input"><label for="checkbox-5" class="checkbox-label-form w-form-label">Carrier</label></div>
								<div class="options brand w-checkbox"><input type="checkbox" id="checkbox-4" name="checkbox-4" data-name="Checkbox 4" class="checkbox w-checkbox-input"><label for="checkbox-4" class="checkbox-label-form w-form-label">Goodman</label></div>
								<div class="options brand w-checkbox"><input type="checkbox" id="checkbox-3" name="checkbox-3" data-name="Checkbox 3" class="checkbox w-checkbox-input"><label for="checkbox-3" class="checkbox-label-form w-form-label">Lennox</label></div>
								<div class="options brand w-checkbox"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="checkbox w-checkbox-input"><label for="checkbox-2" class="checkbox-label-form w-form-label">Payne</label></div>
								<div class="options brand w-checkbox"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="checkbox w-checkbox-input"><label for="checkbox-7" class="checkbox-label-form w-form-label">Rheem</label></div>
								<div class="options brand w-checkbox"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="checkbox w-checkbox-input"><label for="checkbox-7" class="checkbox-label-form w-form-label">Trane</label></div>
								<div class="options brand w-checkbox"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="checkbox w-checkbox-input"><label for="checkbox-7" class="checkbox-label-form w-form-label">York</label></div>
							</div>
						</form>

					</div>
				</div>

				<div class="w-slide">
					<div class="form-wrapper second w-form">
						<form id="wf-form-msf" name="wf-form-msf" data-name="msf" redirect="/thank-you" data-redirect="/thank-you" class="form-full-width">
							<div class="div-heading-slide">
								<h3 class="titre-big">Here&#x27;s the best results for you</h3>
							</div>
							<div>
								<div class="units-quote">
									<div class="unit-overlay">
										<h3 class="heading-no-top-margin">I want this unit installed</h3><a href="#" class="button w-button">Add to cart</a></div><img src="images/gsx14.jpg" alt="" class="max-width-image">
									<div class="div-full-width">
										<div class="div-flex-h align-center">
											<div class="product-name smaller">GSX16</div><img src="images/york-logo.png" width="80" alt="" class="image-brand"></div>
										<div class="div-product-details smaller">
											<div class="blue-text">Tons</div>
											<div><strong>2.5</strong></div>
										</div>
										<div class="div-product-details smaller">
											<div class="blue-text">SEER</div>
											<div><strong>16</strong></div>
										</div>
										<div class="div-product-details smaller">
											<div class="blue-text">Condenser</div>
											<div><strong>14ACXS018-230</strong></div>
										</div>
										<div class="div-product-details smaller">
											<div class="blue-text">Air Handler</div>
											<div><strong>ADP-S Series</strong></div>
										</div>
										<div class="div-product-details smaller">
											<div class="blue-text">Price including installation</div>
											<div><strong>$3 700</strong></div>
										</div>
									</div>
								</div>
								<div class="units-quote">
									<div class="unit-overlay">
										<h3 class="heading-no-top-margin">I want this unit installed</h3><a href="#" class="button w-button">Add to cart</a></div><img src="images/gsx14.jpg" alt="" class="max-width-image">
									<div class="div-full-width">
										<div class="div-flex-h align-center">
											<div class="product-name smaller">GSX16</div><img src="images/york-logo.png" width="80" alt="" class="image-brand"></div>
										<div class="div-product-details smaller">
											<div class="blue-text">Tons</div>
											<div><strong>2.5</strong></div>
										</div>
										<div class="div-product-details smaller">
											<div class="blue-text">SEER</div>
											<div><strong>16</strong></div>
										</div>
										<div class="div-product-details smaller">
											<div class="blue-text">Condenser</div>
											<div><strong>14ACXS018-230</strong></div>
										</div>
										<div class="div-product-details smaller">
											<div class="blue-text">Air Handler</div>
											<div><strong>ADP-S Series</strong></div>
										</div>
										<div class="div-product-details smaller">
											<div class="blue-text">Price including installation</div>
											<div><strong>$3 700</strong></div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>

				<div class="w-slide">
					<div class="form-wrapper second w-form">
						<form id="wf-form-msf" name="wf-form-msf" data-name="msf" redirect="/thank-you" data-redirect="/thank-you" class="form-full-width">
							<div class="div-heading-slide">
								<h3 class="titre-big">Add accessories?</h3>
							</div><input type="submit" data-wait="Please wait..." value="Go to checkout" class="next final w-button">
							<div>
								<div class="div-full-width added-top-margin">
									<div class="div-flex-h align-center">
										<div class="product-name smaller">Accessory #1</div>
									</div>
									<div class="div-product-details smaller">
										<div class="blue-text">Details</div>
										<div><strong>ADP-S Series</strong></div>
									</div>
									<div class="div-product-details smaller">
										<div class="blue-text">Price</div>
										<div><strong>$250</strong></div>
									</div><a href="#" class="button w-button">Add this to my order</a></div>
								<div class="div-full-width added-top-margin">
									<div class="div-flex-h align-center">
										<div class="product-name smaller">Accessory #2</div>
									</div>
									<div class="div-product-details smaller">
										<div class="blue-text">Details</div>
										<div><strong>ADP-S Series</strong></div>
									</div>
									<div class="div-product-details smaller">
										<div class="blue-text">Price</div>
										<div><strong>$1,000</strong></div>
									</div><a href="#" class="button w-button">Add this to my order</a></div>
								<div class="div-full-width added-top-margin">
									<div class="div-flex-h align-center">
										<div class="product-name smaller">Accessory #3</div>
									</div>
									<div class="div-product-details smaller">
										<div class="blue-text">Details</div>
										<div><strong>ADP-S Series</strong></div>
									</div>
									<div class="div-product-details smaller">
										<div class="blue-text">Price</div>
										<div><strong>$750</strong></div>
									</div><a href="#" class="button w-button">Add this to my order</a></div>
							</div>
						</form>

					</div>
				</div>
			</div>
			<div class="previous w-slider-arrow-left"><img src="https://daks2k3a4ib2z.cloudfront.net/585d5e2a7b64077507abdf08/58ab945ae3eb210a7dbbd7cc_arrow-left.gif" alt="">
				<div class="previous-button">Back</div>
			</div>
			<div class="next w-hidden-tiny w-slider-arrow-right"></div>
		</div>
	</div>
</div>
