<div class="section-hero-interior">
  <h1 class="cta-heading" data-ix="hero-appear-1"><strong>Synchronize Data</strong>
  </h1>
</div>

<div class="w-container">
  <div id="sync-app" data-lambda-url="<%= config.lambda_base_url %>" class="section-about"></div>
</div>

<% content_for(:footer_scripts) do %>
  <%= javascript_include_tag 'sync' %>
<% end %>
