<% content_for(:head) do %>
  <%= dato_meta_tags(dato.thank) %>
   <link href="<%= current_page.url %>" rel="canonical" />
<% end %>

<div class="section-hero-interior"></div>
<div class="section-about">
  <div class="w-container">
    <h3 class="cta-heading" data-ix="hero-appear-1"><strong><%= dato.thank.title %></strong>
    </h3>
    <%= dato.thank.description %>
    <a href="/" class="button-underline w-button" data-ix="hero-appear-3">Back
      to the website</a></div>
</div>
